<?xml version="1.0" ?>
<robot name="robot_test" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find robot_test_description)/urdf/materials.xacro" />
<xacro:include filename="$(find robot_test_description)/urdf/robot_test.ros2control" />
<xacro:include filename="$(find robot_test_description)/urdf/robot_test.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-3.4854732807922193e-14 -3.0156370313135648e-18 0.0025" rpy="0 0 0"/>
    <mass value="0.046240316870024625"/>
    <inertia ixx="5e-06" iyy="5e-06" izz="1e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_test_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_test_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="body_one_1">
  <inertial>
    <origin xyz="-6.252379929153885e-05 0.00012393560484965667 0.016292479013174894" rpy="0 0 0"/>
    <mass value="0.022600742013882354"/>
    <inertia ixx="2e-06" iyy="2e-06" izz="1e-06" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.0 -0.0 -0.005" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_test_description)/meshes/body_one_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0 -0.0 -0.005" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find robot_test_description)/meshes/body_one_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolucionar 2" type="continuous">
  <origin xyz="0.0 0.0 0.005" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="body_one_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
</joint>

</robot>
