
<?xml version="1.0"?>
<robot name="rob_quadrado">

  <!-- ========================= -->
  <!-- LINK DUMMY (ROOT)         -->
  <!-- ========================= -->
  <link name="base_footprint"/>
  
  <!-- ========================= -->
  <!-- LINK PRINCIPAL (O QUADRADO) -->
  <!-- ========================= -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.5 0.5 0.5"/>
      </geometry> 
      <material name="red">
        <color rgba="1 1 0 1"/>
	</material>
      <geometry>
        <box size="1.5 1.5 1.5"/>
	</geometry>
	 <material name="red">
        <color rgba="1 0 1 1"/>
	</material>
	</visual>


    <collision>
      <geometry>
        <box size="0.5 0.5 0.5"/>
      </geometry>
    </collision>

    <!-- Inércia opcional, sem avisos -->
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="0.02" ixy="0.0" ixz="0.0"
        iyy="0.02" iyz="0.0"
        izz="0.02"/>
    </inertial>
  </link>
  <link name="base_link2">

    <visual>
      <geometry>
        <box size="1.5 1.5 0.5"/>
      </geometry> 
      <material name="red">
        <color rgba="1 1 0 1"/>
	</material>
      <geometry>
        <box size="1.5 1.5 1.5"/>
	</geometry>
	 <material name="red">
        <color rgba="1 0 1 1"/>
	</material>
	</visual>


    <collision>
      <geometry>
        <box size="0.5 0.5 0.5"/>
      </geometry>
    </collision>

    <!-- Inércia opcional, sem avisos -->
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="0.02" ixy="0.0" ixz="0.0"
        iyy="0.02" iyz="0.0"
        izz="0.02"/>
    </inertial>
  </link>

  <!-- ========================= -->
  <!-- JUNTURA FIXA PARA ROOT     -->
  <!-- ========================= -->

 <joint name="base_joint_" type="fixed">
    <parent link="base_link"/>
    <child link="base_link2"/>
    <origin xyz="1 1 0" rpy="0 0 0"/>
  </joint>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 10 0" rpy="0 0 0"/>
  </joint>


</robot>

